<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超市订单管理系统</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"  />
    <link type="text/css" rel="stylesheet" th:href="@{/css/public.css}" />
</head>
<body>

<!-- 插入head.html文件 ,注意：号前后有个空格-->
<div th:replace="head :: html"></div>
<div class="right">
    <img class="wColck" th:src="@{/images/clock.jpg}" alt=""/>
    <div class="wFont">
        <h2 th:text="${session.user.userName}">用户名</h2>
        <h2 th:text="${session.user.phone}">电话号码</h2>
        <h2 th:text="${session.user.address}">家庭地址</h2>
        <p>欢迎来到超市订单管理系统!</p>
    </div>
</div>
<!--另一对在head里面-->
</section>

<!--插入foot.html文件,注意：号前后有个空格-->
<div th:replace="foot :: html"></div>

<script type="text/javascript" th:src="@{/js/time.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/calendar/WdatePicker.js}"></script>

</body>
</html>
